::-webkit-scrollbar {
  width: 5px;
  height: 20px;
}
::-webkit-scrollbar-thumb {
  border-width: 1px 1px 1px 2px;
  border-radius: 2px;
  border-color: #777;
  background-color: #aaa;
}
::-webkit-scrollbar-track {
  border-width: 0;
}

@import './basketListCard.scss';
@import './basketTotalCard.scss';
@import './footer';
@import './header';
@import './modileMenu';
@import './productCard';
@import './productList';
@import './productsContent';
@import './sidebar';
@import './userCard';
@import './favorites.scss';
