.product-card__image {
    max-width: 150px;
}
.product-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border: 1px solid rgba(170, 170, 170, 0.719);
    height: 300px;
    padding: 20px 10px 40px;
    width: 280px;
    background-color: white;
}
.product-card-desc {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 50px;
}