@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;900&display=swap');

$font: 'Montserrat', sans-serif;
$yellow: #f6a51e;
<<<<<<< HEAD
$background: #f5f5f4;
$color: #adadac;
=======
$background: #F5F5F4;
$color: #adadac;
>>>>>>> 5063cf3fcabe84fb71a142105ad9ba1fd4398995
