@import "components/all_components";
@import "pages/all_pages";
@import "vars";

* {
  padding: 0;
  margin: 0;
  outline: none;
}

.main_page {
  background: $background;
  font-family: $font;
  height: 100vh;
}