.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 30px;
    padding-right: 30px;
}
.header__logo {
    width: 120px;
}
.header__search {
    border: 1px solid #adadac;;
    display: flex;
    align-items: center;
    border-radius: 10px;
    padding-right: 10px;
    padding-right: 10px;
    background-color: white;
}
.header__search-input {
    width: 45vw;
    height: 35px;
    border: none;
    margin-left: 10px;
    margin-right: 10px;
}
.header__search-icon {
    width: 20px;
    height: 20px;
    color: #adadac;
}
.header__search-input::placeholder{
    padding-left: 10px;
}
.header__cart-icon, .header__user-icon {
    width: 30px;
    height: 30px;
    color: #adadac;
}
.header__icons {
    width: 5vw;
    display: flex;
    justify-content: space-between;
}
.navbar {
    display: flex;
    justify-content: space-between;
    width: 25vw;
    margin: 0 auto;
    color: #adadac;
}
.navbar-bottom {
    display: flex;
    align-items: flex-end;
    margin-bottom: 50px;
}
.navbar-bottom__image {
    width: 90px;
    margin-bottom: 10px;
}
.navbar-bottom__card {
    width: 200px;
    text-align: center;
    margin-top: 2vw;
}
.container {
    max-width: 1270px;
    margin: 0 auto;
}
.navbar__item {
    margin: 5px;
}
.mobile-menu-icon {
    display: none;
}
@media all and (max-width: 700px){
    .navbar, .navbar-bottom,.header__icons {
        display: none;
    }
    .mobile-menu-icon {
        display: block;
    }
    .mobile-menu-icon-image {
        width: 30px;
        height: 30px;
 
    }
    .header__top {
        display: flex;
        align-items: center;
    }
}
@media all and (max-width: 450px){
    .header {
        flex-direction: column;
    }
    .header__top {
        width: 92vw;
        padding-left: 8vw;
    }
    .header__search-input {
        width: 70vw;
        min-width: 250px;
    }
    .mobile-menu-icon {
        margin-right: 20%;
    }
    .header__search {
        margin-top: 10px;
        margin-bottom: 10px;
    }

}